@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');


$c-almost-White: hsl(0, 0%, 98%);
$c-medium-gray: hsl(0, 0%, 41%);
$c-almost-black: hsl(0, 0%, 8%);

// Resets ===============================================
html {
    overflow-x: hidden;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
    min-height:100vh;
    max-width: 100vw; 
    overflow-x: hidden;
}
a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul {
    display: inline;  
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

// Main ===============================================

.pre-load--hide {
    display: none;
}

.shadow {
    pointer-events: none;
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: 500ms;
}
.shadow--visible {
    visibility: visible;
    opacity: .64;
}

.header {
    .header__container {
        display: flex;
        justify-content: space-between;

        padding: 1.5rem .8rem;
    }

    .header__logo {

    }

    .header__open-menu {
        height: 1.2rem;
    }

    .header__close-menu-container {
        display: flex;
        justify-content: flex-end;

        margin-bottom: 1.3rem;
        .header__close-menu {
        }    
    }

    .header__nav {
        background-color: white;

        position: absolute;
        right: 0rem;
        top: 0;
        z-index: 99999;
        
        width: 16.3rem;
        height: 100%;

        .header__nav__container {
            padding: 1rem 1.4rem;
        }

        .header__nav__menu {

            .header__nav__menu__item {
                color: $c-medium-gray;

                font-family: 'Epilogue';
                font-size: 1rem;

                display: block;

                padding: .8rem 0;

                .header__nav__menu__item__arrow {
                    pointer-events: none;
                    content: url('../images/icon-arrow-up.svg');
                    margin-left: .6rem;

                }

                .header__nav__menu__item__sub {
                    overflow: hidden;
                    display: block;
                    max-height: 250px;
                    margin-top: 1rem;
                    .header__nav__menu__item__sub__item {
                        position: relative;
                        color: $c-medium-gray;

                        font-family: 'Epilogue';
                        font-size: 1rem;

                        display: block;
        
                        padding: .8rem 0;
                        margin-left: 1.3rem;

                        .header__nav__menu__item__sub__item__icon {
                            position: absolute;
                            left: -1.5rem;
                            
                            transform: translate(-50%, 0%);
                            height: 1.25rem;
                            transform-origin: center;
                        }
                    }
                    .header__nav__menu__item__sub__item--has-icon {
                        margin-left: 3.3rem;
                    }
                    transition: 500ms;
                }
                
            }
            .header__nav__menu__item--sub-closed {
                .header__nav__menu__item__arrow {
                    content: url('../images/icon-arrow-down.svg');
                }
                .header__nav__menu__item__sub {
                    max-height: 0;
                    margin-top: 0;
                }
            }
        }

        .header__nav__actions {
            margin-top: .8rem;
        }

        opacity: 1;
        transform: translateX(100%);
        transition: 500ms; 
    }
    .header__nav--open {
        opacity: 1;
        transform: translateX(0%);

    }

    .header__btn {
        color: $c-medium-gray;
        font-family: 'Epilogue';
        font-size: 1rem;
        display: block;
        text-align: center;

        padding: .65rem 0;
        margin-bottom: .5rem;
    }
    .header__btn--has-outline {
        border: solid 2px $c-medium-gray;
        border-radius: 15px;
    }
    
}

.hero {
    display: flex;
    flex-direction: column-reverse;
    .hero__info {
        padding: 1.5rem .8rem;
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    
    .hero__title {
        color: $c-almost-black;

        font-family: 'Epilogue';
        font-weight: 700;
        font-size: 2.44rem;
        text-align: center;

        margin-top: 1rem;
        margin-bottom: 1rem;
        .hero__br {
            display: none;
        }
    }
    
    .hero__txt {
        color: $c-medium-gray;
        
        font-family: 'Epilogue';
        font-weight: 500;
        font-size: 1.1rem;

        text-align: center;
        line-height: 1.8rem;

        margin-bottom: 2rem;
    }

    .hero__btn {
        color: $c-almost-White;
        background-color: $c-almost-black;
        
        font-family: 'Epilogue';
        font-weight: 500;
        font-size: 1.1rem;

        border-radius: 15px;

        padding: .85rem 1.4rem;
        margin-bottom: 2.5rem;

    }

    .hero__clients {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: .8rem;
        .hero__clients__img {
            height: 1rem;
        }
        .hero__clients__img--XL {
            height: 1.7rem;
        }
        .hero__clients__img--L {
            height: 1.1rem;
        }
    }
    .hero__design {
        width: 100vw;
        .hero__design__img {
            content: url('../images/image-hero-mobile.png');
            width: 100%;
        }
    }
}