@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');


$c-almost-White: hsl(0, 0%, 98%);
$c-medium-gray: hsl(0, 0%, 41%);
$c-almost-black: hsl(0, 0%, 8%);

// Resets ===============================================
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
}
a, li, h1, h2, p {
    text-decoration: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul {
    display: inline;  
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

// Main ===============================================

.header {
    .header__container {

    }

    .header__logo {

    }

    .header__nav {

        .header__nav__menu {

            .header__nav__menu__item {

                .header__nav__menu__item__arrow {

                }

                .header__nav__menu__item__sub {

                    .header__nav__menu__item__sub__item {

                        .header__nav__menu__item__sub__item__icon {

                        }
                    }
                }
            }
        }

        .header__nav__actions {

        }

    }

    .header__btn {

    }
    .header__btn--has-outline {

    }
    
}

.hero {
    .hero__info {
    }

    
    .hero__title {
            
    }
    
    .hero__txt {

    }

    .hero__btn {

    }

    .hero__clients {
        .hero__clients__img {

        }
    }
    .hero__design {

        .hero__design__img {
            
        }
    }
}